{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | TODO App</title>
    <link rel="stylesheet" href="{% static 'todoapp/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create an Account</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        <p style="margin-top:20px;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>
